$height: 100px;

.record-btn{
    bottom: calc($height + 0.75em);
}

.record-container{
    position: fixed;
    bottom: $height;
    width: 100%;
}

.record-btn-container{
    left: 0;
    right: 0;
    margin: auto;
    
    bottom:0px;
}

.record-bar{
    height: $height;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left:0px;
}
