@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-primary:not([disabled]) {
  @apply !bg-purple-700;

}
.ant-btn-primary:not([disabled]):hover {
  @apply !bg-purple-500;

}

.refine-create-button,
.refine-save-button,
{
@apply !bg-purple-400;
transition: background-color 0.3s;
/* Add a smooth transition for the color change */
}

.refine-create-button:hover,
.refine-save-button:hover {
  @apply !bg-purple-500;
  /* Change the background color on hover */
}

.mvl-icon{
  color: #5965fe;
}

.firebase-emulator-warning{
  display: none;
}

.document{
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}

textarea:focus { 
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}


.ReactCrop__crop-mask {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  clip-path: polygon(
    0% 0%,
    0% 100%,
    var(--pos-x) 100%,
    var(--pos-x) var(--pos-y),
    calc(var(--pos-x) + var(--pos-width)) var(--pos-y),
    calc(var(--pos-x) + var(--pos-width)) calc(var(--pos-y) + var(--pos-height)),
    var(--pos-x) calc(var(--pos-y) + var(--pos-height)),
    var(--pos-x) 100%,
    100% 100%,
    100% 0%
  );
}
